body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
    padding: 20px;
    margin-left: 1cm; /* Add margin on the left */
    margin-right: 1cm; /* Add margin on the right */
    position: relative;
}
h1, h2 {
    color: #0056b3;
}
.profile-pic {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #0056b3;
    object-fit: cover;
}
.section {
    margin-bottom: 20px;
    margin-left: 1.5cm; /* Add margin on the left */
    margin-right: 1.5cm; /* Add margin on the right */
}
.section-title {
    border-bottom: 2px solid #0056b3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.experience, .project {
    margin-bottom: 15px;
}
.experience-title, .project-title {
    font-weight: bold;
}
.experience-company, .project-details {
    font-style: italic;
    color: #555;
}
.experience-date {
    float: right;
    color: #777;
}
.experience-location {
    float: left;
    color: #777;
}
.clear {
    clear: both;
}